$primary: 'deep-purple';
$accent: 'orange';

@import 'ember-paper';

$spaceamounts: (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {

  .ma-#{$space} {
    margin: #{$space}rem !important;
  }

  .mx-#{$space} {
    margin-left: #{$space}rem !important;
    margin-right: #{$space}rem !important;
  }

  .my-#{$space} {
    margin-top: #{$space}rem !important;
    margin-bottom: #{$space}rem !important;
  }

  .pa-#{$space} {
    padding: #{$space}rem !important;
  }

  .px-#{$space} {
    padding-left: #{$space}rem !important;
    padding-right: #{$space}rem !important;
  }

  .py-#{$space} {
    padding-top: #{$space}rem !important;
    padding-bottom: #{$space}rem !important;
  }

  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}rem !important;
    }

    .p-#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}rem !important;
    }
  }
}

.full-height {
  height: 100%;
}
