<div class="layout-column full-height">
  <PaperToolbar>
    <PaperToolbarTools>
      <LinkTo @route="index">
        <h2>Shaxx Workout</h2>
      </LinkTo>

      <span class="flex"></span>

      <PaperButton @iconButton={{true}} {{ on "click" (transition-to "about") }}>
        <PaperIcon @icon="info" />
      </PaperButton>

    </PaperToolbarTools>
  </PaperToolbar>

  {{outlet}}

</div>